$blue-light: #25ccf7;
$blue: #1b9cfc;
$blue-dark: #182c61;

$white: #fff;
$gray-lightest: #eeeeee;
$gray-lighter: #c0c5ce;
$gray-light: #a7adba;
$gray: #65737e;
$gray-dark: #4f5b66;
$gray-darker: #343d46;
$black: #000;

$shadow-color: rgba(20, 20, 20, 0.38);

$orange: #ffa500;
$orange-dark: #cc8605;

$translucent-black: rgba(0, 0, 0, 0.357);
